@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/ca/57/a2/ca57a2dbfa5d5f00df122c7e5187def1.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 350px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in 0.5s;
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }
  
  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}